body {
    background-image: url('something/Saber_Lion.jpg');
    background-size: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 98vh;
}


button {
    width: 200px;
    height: 200px;
    background-image: url('something/Saber_Lion.jpg');
    background-size: cover;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
}
