.zagruzka-container {
    position: fixed;
    top: 0px;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.25);
    opacity: 0;
    pointer-events: none;
    z-index: 6;
}

.zagruzka {
    width: 300px;
    height: 300px;
    background-image: url('image/glava.png');
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}


.modal-container {
    position: fixed;
    top: 0px;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.25);
    opacity: 0;
    pointer-events: none;
    z-index: 4;
    
    
    
}

.modal {
    width: 988px;
    height: 672px;
    background-color: #ececec;
    border-radius: 15px;
    display: flex;

    
}

.modal-img {
    top: 0;
    left: 0;
    height: 100%;
    width: 45%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 20px;

}

.modal-inf {
    margin-left: 20px;
    background-color: #E1F1F8;
    width: 52%;
    border-radius: 15px;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
    padding-left: 30px;
    padding-top: 20px;
    padding-right: 30px;
    display: flex;
    flex-direction: column;


    
}

.sostav, .srok {
    font-weight: lighter;
    color: #363636;
}

.buy-button {
    background-color: #4cccff;
    border-radius: 8px;
    height: 50px;
    width: 100%;
    border-width: 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    font-size: 20px;
    transition: 0.2s;
    
}

.buy-button:hover {
    transform: scale(1.05);
    transition: 0.2s;
}

.krest {
    background-image: url(image/krest.png);
    width: 25px;
    height: 25px;
    background-size: cover;
    background-color: #E1F1F8;
    border-width: 0;
    margin-bottom: 0px;
    align-self: flex-end;
}

.krest:active {
    transition: 0.2s;
    transform: scale(0.9);
}

.table-razmers {
    width: 40%;
}

.razmers {
    width: 50px;
    height: 50px;
    background-color: #bdecff;
    border-width: 0;
    border-radius: 8px;
}

.show {
    opacity: 1;
    pointer-events: auto;
}

.border {
    border-width: 1px;
}


