body {
    background-color: #ececec;
    margin: 0;
    font-family: 'Inter', sans-serif;
    padding-top: 127px;


}

body::-webkit-scrollbar {
    display: none;
}

header {
    background-color: #E1F1F8;
    height: 126px;
    flex-direction: row;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 40px;
    font-weight: 500;
    box-shadow: 0px 6px 55px rgba(0, 0, 0, 0.25);
    position: fixed;
    width: 100%;
    top: 0px;
    left: 0;
    z-index: 3;
    
   
}

main {
    display: flex;
    flex-wrap: wrap;
    margin-left: 135px;

    justify-content: space-between;



}

footer {
    background-color: #1d1f20;
    height: 126px;
    margin-top: 81px;
    box-shadow: 0px -8px 55px rgba(0, 0, 0, 0.25);
    font-size: 20px;
    flex-direction: row;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: rgb(196, 226, 243);
}

a {
    text-decoration: none;
    color: black;
}


.card {
    width: 250px;
    height: 300px;
    background-color: #E1F1F8;
    margin-top: 80px;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    transition: 0.2s;
    display: flex;
    flex-direction: column;
    margin-right: 135px;

}

.hover:hover {
    transform: scale(1.1);
    transition: 0.2s;
}

.card-img {
    max-width: 100%;
    height: 189px;
    align-self: center;
    margin-top: 10px;

    

}

.name {
    margin-left: 13px;
    font-size: 16px;
    font-weight: 400;
    margin-top: 10px;
}

.descr {
    margin-left: 13px;
    font-size: 16px;
    font-weight: 100;
    color: #363636;
    margin-top: 10px;
}

.price {
    margin-left: 13px;
    font-size: 16px;
    font-weight: 600;
    margin-top: 10px;
}
